.panelContainer {
  background-color: black;
}

.noteItem {
  display: flex;
  align-items: center;
}

.noteText {
  flex-grow: 1;
}

// .popupContainer {
//   width: 320px;
//   padding: 20px;
// }

.popupContent {
  display: flex;
  flex-direction: column;
}

.popupButtons {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}
