.smartHome {
    background-color: black;
}

.panelContainer {
    background-color: black;
}

.scanButton {
}
.deviceItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.deviceText {
  display: flex;
  flex-direction: column;
}

.deviceName {
  font-weight: 600;
  font-size: 1.1em;
}

.brightness {
  font-size: 0.9em;
  color: #777;
  margin-top: 4px; // spacing from name
}


