/* Container div holding the tab bar and panels */
.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* full viewport height */
    background-color: black !important;
    color: black;
}

:global(.enact-sandstone-Panel) {
    background-color: black !important;
}


/* TabLayout container (tabs) */
.tab-layout-container {
    flex: 0 0 auto; /* don't grow, height based on content */
    z-index: 10;    /* can be moderate */
}

/* Panels container */
.panels-container {
    flex: 1 1 auto;  /* take remaining space */
    position: relative;
    z-index: 5;     /* lower or higher as needed */
    overflow: visible;
    background-color: black !important;
    color: black;
}
